@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --body: 20, 20, 31, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.gradiant-write {
  background: -webkit-linear-gradient(
    -86deg,
    #e250e5 5%,
    #e250e5 13%,
    #4b50e6 91%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

.sub-menu-area {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.sub-menu {
  display: none;
  position: relative;
  top: 100%;
  overflow: hidden;
  border-radius: 5px;
  left: 10%;
  background-color: #fff;
  min-width: 255px;
  box-shadow: 0 0 20px rgba(47, 83, 109, 0.12) inset;
}

.navbar li:hover .sub-menu,
.navbar li:hover .sub-menu-area {
  display: block;
  min-width: 200px;
  z-index: 99;
}

.protrusion {
  position: absolute;
  top: 5px;
  right: 75%;
  z-index: -1;
  color: #14141e;
}

.sub-menu a {
  display: flex;
  padding: 10px;
  border-bottom: #eeeeee 1px solid;
  text-decoration: none;
  align-items: center;
  color: #14141e;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.sub-menu a:hover {
  color: #6157f3;
  background-color: white;
  margin-left: 10px;
}

.sub-menu a:hover .sub-menu-line {
  display: block;
  opacity: 1;
}

.sub-menu-line {
  padding-right: 10px;
  opacity: 0;
  border: 1.5px solid #6157f3;
  color: #6157f3;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.swiper {
  max-width: 100% !important;
  display: flex !important;
  overflow: hidden !important;
}

.swiper-wrapper {
  position: relative !important;
  height: auto !important;
  z-index: 1 !important;
  display: flex !important;
  transition-property: transform !important;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  ) !important;
  box-sizing: content-box !important;
}

body {
  @apply bg-dark__bg;
}

main {
  @apply flex flex-col items-center;
}

.navbar {
  @apply flex w-full justify-between items-center text-on__surface h-20 px-2;
}

.navbar ul {
  @apply flex-row items-center gap-8 lg:flex hidden;
}

.navbar ul li {
  @apply flex items-stretch justify-center py-7;
}

.navbar ul li a {
  @apply cursor-pointer flex items-center flex-row gap-2 text-lg font-bold;
}

.navbar-item-icon {
  @apply w-3;
}

.logo a {
  @apply flex flex-row items-center gap-2 text-4xl font-bold;
}

.navbar-switch-area {
  @apply flex flex-row items-center gap-6 md:gap-3;
}

.navbar-switch {
  @apply bg-black__write w-10 h-10 justify-center items-center rounded-lg text-center text-on__surface text-lg shadow-md cursor-pointer hidden md:flex;
}

.navbar-container {
  @apply flex justify-center border-b-black__write border-b-2 w-full;
}

.content {
  @apply flex w-full flex-col gap-20;
}

.main-container {
  @apply flex w-full max-w-screen-2xl px-2;
}
.v2-w-container {
  @apply flex w-full px-2;
}

.content-container {
  @apply flex flex-col gap-9;
}

.slogan {
  @apply text-4xl md:text-5xl text-on__surface font-bold max-w-[470px];
}
.slogan-v2{
  @apply  w-full  text-4xl md:text-5xl text-on__surface font-bold
}

.slogan-area {
  @apply flex flex-col gap-6 items-center md:items-start;
}

.homepage-header-area {
  @apply flex flex-col lg:flex-row w-full justify-between items-center;
}
.homepage-header-area.v2{
  @apply justify-center items-center py-20
}

.homepage-header-area img {
  @apply hidden lg:block;
}

.button {
  @apply px-9 py-[14px] rounded-3xl flex gap-3 font-bold flex-row items-center justify-center border-primary border-2 text-on__surface cursor-pointer;

  &:hover {
    @apply bg-on__surface text-primary border-on__surface transition-all duration-300;
  }
}
.button.place-bid {
  @apply px-7 py-3 text-sm font-bold;
}
.button.white-b {
  @apply border-on__surface;
}
.button.place-bid-hover {
  @apply text-sm font-bold absolute bottom-28 w-max transform translate-x-2/4  z-30 opacity-0;
}
.button.social {
  @apply bg-primary text-on__surface hover:border-on__surface hover:bg-on__surface hover:text-primary;
}
.nft-image:hover img {
  @apply scale-125 transition-all duration-300;
}
.nft-card:hover .place-bid-hover {
  opacity: 1;
  padding-top: 5%;
  transition: all 0.2s ease-out;
}

.page-title {
  @apply text-5xl font-bold;
}

.page-title-area {
  @apply flex flex-col gap-3 justify-center items-center h-56 w-full;
}

.dropdown-select {
  @apply bg-black__write py-3 pl-6 pr-3 rounded-md flex justify-between items-center gap-8;
}
.navbar-header {
  @apply flex w-full flex-col;
}
.navbar-header.homepage {
  @apply bg-dark__bg;
}

.navbar-header.navbar-v2 {
  @apply bg-header-bg mb-10 bg-cover;
}
.tab-btn {
  @apply hover:border-b-primary hover:transition-all hover:duration-300;
}
.tab-menu {
  @apply max-h-60 overflow-y-scroll;
}
form input {
  @apply bg-transparent rounded-md w-full;
}
.gradiant-border {
  background: linear-gradient(#14141f, #14141f) padding-box,
    linear-gradient(-86deg, #e250e5 5%, #e250e5 13%, #4b50e6 91%) border-box;
  border-radius: 8px;
  border: 4px solid transparent;
}
.create-item-method {
  @apply bg-black__write flex p-3 items-center gap-[10px] flex-row cursor-pointer font-bold transition-all duration-300 justify-center w-full rounded-lg text-white__second hover:text-primary hover:bg-on__surface;
}
.create-item-method.active{
  @apply bg-on__surface text-primary
}
.author-tab-btn{
  @apply text-on__surface p-5 cursor-pointer
}
.author-tab-btn.active{
  @apply relative
}