@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --body: 20, 20, 31, 255;
  --gradiant-dark: linear-gradient(
    60deg,
    rgba(20, 20, 31, 1) 54%,
    rgba(40, 40, 49, 1) 71%,
    rgba(57, 57, 65, 1) 100%,
    rgba(63, 63, 70, 1) 100%,
    rgba(126, 126, 130, 1) 100%,
    rgba(81, 81, 88, 1) 100%,
    rgba(162, 162, 164, 1) 100%,
    rgba(196, 196, 196, 1) 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.gradiant-write {
  background: -webkit-linear-gradient(
    -86deg,
    #e250e5 5%,
    #e250e5 13%,
    #4b50e6 91%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

.sub-menu-area {
  @apply absolute top-full left-0 hidden;
}

.sub-menu {
  @apply hidden relative top-full overflow-hidden rounded-md left-0 bg-on__surface min-w-[255px] shadow-md
}

.navbar li:hover .sub-menu,
.navbar li:hover .sub-menu-area {
  @apply block min-w-[200px] p-0 z-50;
}

.protrusion {
  @apply absolute top-5 right-2 -z-10 text-on__surface__dark ;
}

.sub-menu a {
  @apply flex p-2 border-b border-gray  items-center text-on__surface__dark font-bold transition-all duration-200 ;
}

.sub-menu a:hover {
  @apply text-primary bg-on__surface;
}

.sub-menu a:hover .sub-menu-line {
  @apply block opacity-100 ml-3 transition-all duration-300;
}

.sub-menu-line {
  @apply pr-2 opacity-0 border border-primary text-primary flex items-center mr-2;
}

.swiper {
  @apply w-full flex overflow-hidden;
}

.swiper-wrapper {
  @apply relative h-auto -z-10 flex transition-transform ease-in-out pb-10;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

body {
  @apply bg-dark__bg;
}

main {
  @apply flex flex-col items-center;
}

.navbar {
  @apply flex w-full justify-between items-center text-on__surface h-20 px-2;
}

.navbar ul {
  @apply flex-row items-center gap-8 lg:flex hidden;
}

.navbar ul li {
  @apply flex items-stretch justify-center py-7;
}

.navbar ul li a {
  @apply cursor-pointer flex items-center flex-row gap-2 text-lg font-bold;
}

.navbar-item-icon {
  @apply w-3;
}

.logo a {
  @apply flex flex-row items-center gap-2 text-4xl font-bold;
}

.navbar-switch-area {
  @apply flex flex-row items-center gap-6 md:gap-3;
}

.navbar-switch {
  @apply bg-black__write w-10 h-10 justify-center items-center rounded-lg text-center text-on__surface text-lg shadow-md cursor-pointer hidden md:flex;
}

.navbar-container {
  @apply flex justify-center border-b-black__write border-b-2 w-full;
}

.content {
  @apply flex w-full flex-col gap-20 pb-20;
}

.main-container {
  @apply flex w-full max-w-screen-2xl px-2;
}
.v2-w-container {
  @apply flex w-full px-2;
}

.content-container {
  @apply flex flex-col gap-9;
}

.slogan {
  @apply text-4xl md:text-5xl text-on__surface font-bold max-w-[470px];
}
.slogan-v2{
  @apply  w-full  text-4xl md:text-5xl text-on__surface font-bold
}

.slogan-area {
  @apply flex flex-col gap-6 items-center md:items-start;
}

.homepage-header-area {
  @apply flex flex-col lg:flex-row w-full justify-between items-center;
}
.homepage-header-area.v2{
  @apply justify-center items-center py-20 w-full
}

.homepage-header-area img {
  @apply hidden lg:block;
}

.button {
  @apply px-9 py-[14px] rounded-3xl flex gap-3 font-bold flex-row items-center justify-center border-primary border-2 text-on__surface cursor-pointer;

  &:hover {
    @apply bg-on__surface text-primary border-on__surface transition-all duration-300;
  }
}
.button.place-bid {
  @apply px-7 py-3 text-sm font-bold;
}
.button.white-b {
  @apply border-on__surface;
}
.button.place-bid-hover {
  @apply text-sm font-bold absolute bottom-28 w-max transform translate-x-2/4  z-30 opacity-0;
}
.button.social {
  @apply bg-primary text-on__surface hover:border-on__surface hover:bg-on__surface hover:text-primary;
}
.nft-image:hover img {
  @apply scale-125 transition-all duration-300;
}
.nft-card:hover .place-bid-hover {
  opacity: 1;
  padding-top: 5%;
  transition: all 0.2s ease-out;
}

.page-title {
  @apply text-5xl font-bold;
}

.page-title-area {
  @apply flex flex-col gap-3 justify-center items-center h-56 w-full;
}

.dropdown-select {
  @apply bg-black__write py-3 pl-6 pr-3 rounded-md flex justify-between items-center gap-8;
}
.navbar-header {
  @apply flex w-full flex-col;
}
.navbar-header.homepage {
  @apply bg-dark__bg;
}

.navbar-header.navbar-v2 {
  @apply bg-header-bg mb-10 bg-cover;
}
.tab-btn {
  @apply hover:border-b-primary hover:transition-all hover:duration-300;
}
.tab-menu {
  @apply max-h-60 overflow-y-scroll;
}
form input {
  @apply bg-transparent rounded-md w-full;
}
.gradiant-border {
  background: linear-gradient(#14141f, #14141f) padding-box,
    linear-gradient(-86deg, #e250e5 5%, #e250e5 13%, #4b50e6 91%) border-box;
  border-radius: 8px;
  border: 4px solid transparent;
}
.create-item-method {
  @apply bg-black__write flex p-3 items-center gap-[10px] flex-row cursor-pointer font-bold transition-all duration-300 justify-center w-full rounded-lg text-white__second hover:text-primary hover:bg-on__surface;
}
.create-item-method.active{
  @apply bg-on__surface text-primary
}
.author-tab-btn{
  @apply text-on__surface p-5 cursor-pointer
}
.author-tab-btn.active{
  @apply relative
}
.marketplace-tab-btn{
  @apply px-8 py-7 border-b border-b-on__surface__dark hover:text-primary transition-all duration-300 font-bold text-white__second cursor-pointer
}
.marketplace-tab-btn.active{
  @apply border-b-primary text-on__surface
}

.text-hover{
  @apply hover:transition-all hover:duration-300 hover:ease-in-out hover:text-primary
}