@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --body: 20, 20, 31, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-dark__bg;
}
main {
  @apply flex flex-col items-center;
}

.container {
  @apply flex w-full max-w-screen-2xl px-2 overflow-hidden;
}
.navbar {
  @apply flex w-full justify-between items-center bg-dark__bg text-on__surface h-20  px-2;
}

.navbar ul {
  @apply flex-row items-center gap-8 lg:flex hidden;
}
.navbar ul li {
  @apply flex items-stretch justify-center py-7;
}
.navbar ul li a {
  @apply cursor-pointer flex items-center flex-row gap-2 text-lg font-bold;
}
.navbar-item-icon {
  @apply w-3;
}

.logo a {
  @apply flex flex-row items-center text-2xl gap-2;
}

.navbar-switch-area {
  @apply flex flex-row items-center gap-6 md:gap-3;
}
.navbar-switch {
  @apply bg-black__write px-[10px] py-3 rounded-lg text-center text-on__surface text-lg shadow-md cursor-pointer hidden md:block;
}

.navbar-container {
  @apply flex justify-center border-b-black__write border-b-2 w-full;
}
.content {
  @apply flex flex-col gap-16;
}
